Repository monitoror/monitoror, pull requests merged in 2020-03, with the labels that each got.

#198 Update README with UI mock-up + some fixes
  .assets/monitoror-mockup.svg
  README.md
Labels: documentation

#213 Fix download URLs
  docs/documentation/index.html
  docs/js/main.js
Labels: documentation

#228 Add PING documentation notice for UNIX users + Open Collective
  .github/FUNDING.yml
  README.md
  docs/assets/styles/main.css
  docs/documentation/index.html
  docs/index.html
Labels: documentation

#291 Fix build script by adding missing export
  scripts/build/build.sh
Labels: build/ci/cd

#292 feat(core/azuredevops): inject refs/heads/ if the branch doesn't start with
  monitorables/azuredevops/api/repository/api.go
  monitorables/azuredevops/api/repository/api_test.go
Labels: core, enhancement

#293 feat(core/config): forward dynamic tile label to generated tiles
  api/config/usecase/hydrate.go
  api/config/usecase/hydrate_test.go
Labels: core, enhancement
